* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.container {
    max-width: 360px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 18px;
    text-align: center;
    margin: 0 1em;

    img {
        width: 100%;
    }
}

.text {
    padding: 20px 10px;

    h2 {
        color :hsl(218, 44%, 22%);
        padding-bottom: 16px;
    }

    p {
        color: hsl(216, 15%, 48%);
    }
}